@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-primary: #1d4ed8; /* biru utama */
    --color-secondary: #3b82f6; /* biru lebih muda */
    --color-accent: #f59e0b; /* warna aksen, misal: oranye */
    --color-softblue: #f0f5ff; /* background lebih soft */
}
